nav{
display: flex;
gap: 30px;
background-color: black;
color: white;
width: 20%;
margin: 0 auto;
justify-content: space-evenly;
padding: 1rem 3rem;
border-radius: 15px;
}
a{
    text-decoration: none;
   color: white;
}
a:hover{
    color: greenyellow;
}


